---
---

@import "minimal-mistakes/skins/sunrise";
@import "minimal-mistakes";

.page__content {
  color: #687586 !important;
}

.page__title, 
.nav__items a, 
.site-title, 
.greedy-nav a,
.page__meta,
.sidebar p,
.sidebar .nav__list a,
.archive__item-title a {
  color: #687586 !important;
}

.sidebar {
  background-color: #687586 !important;
  color: #fff !important;
}

.sidebar .nav__items a {
  color: #fff !important;
}

.btn--primary {
  background-color: #687586 !important;
}
