.fullscreen-image {
  width: 100vw;
  height: calc(100vh - 100px); /* Subtracting navbar height */
  object-fit: cover;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.main-content {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f5e6d0;
}
