<!doctype html>
<html lang="{{ site.lang | default: 'en' }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="main-content">
      {{ content }}
    </div>

    {% if site.layout_settings.enable_footer %}
      <div class="page__footer">
        <footer>
          {% include footer/custom.html %}
          {% include footer.html %}
        </footer>
      </div>
    {% endif %}

    {% if site.layout_settings.enable_scripts %}
      {% include scripts.html %}
    {% endif %}
  </body>
</html>
